<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h1>Управление дельта-роботом в Gazebo</h1>
      <form action="/get_value" method="POST" name="form">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Theta1</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="input_text1"
            id="input_text1"
            max="100"
            value="0"
          />
          <input
            type="range"
            class="form-control-range slider"
            type="range"
            min="-100"
            max="100"
            value="0"
            id="rangeinput1"
            step="1"
          />
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Theta2</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="input_text2"
            id="input_text2"
            max="100"
            value="0"
          />
          <input
            type="range"
            class="form-control-range slider"
            type="range"
            min="-100"
            max="100"
            value="0"
            id="rangeinput2"
            step="1"
          />
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Theta3</span>
          </div>
          <input
            type="text"
            class="form-control"
            name="input_text3"
            id="input_text3"
            max="100"
            value="0"
          />
          <input
            type="range"
            class="form-control-range slider"
            type="range"
            min="-100"
            max="100"
            value="0"
            id="rangeinput3"
            step="1"
          />
        </div>
      </form>
    </div>

    <script
      type="application/javascript"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
  </body>
</html>
